
th {
	padding:0px 0px;
	font-size: 14px;
}
th, td {
	text-align: center;
}
tr:nth-child(even), th {
	background-color: #F0F0F0;
}
table {
	width:100%;
}
h1, h2, h3, h4 {
	font-weight: bold;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
	/*border-left: 6px #1177AA solid;
	border-bottom: 1px #AACCFF solid;*/
	/*border-bottom: 1px #1177AA solid;*/
	/*padding-left: 10px;*/
	padding-bottom: 3px;
}
h3 {
	font-size: 16px;
}

/*body {
	color: #FFFFFF;
	background-color: #000000;
}*/

.highlight {
	color: #1170AA;
	font-weight: bold;
}

.large {
	font-size: 20px;
}

.noriba2 {
	color: #DD2222;
}

.old, .old a {
	color: #DDDDDD !important;
}

.thread-button {
	margin: 2px;
}

.blind-top {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(90%, #fefefe));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fefefe 90%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fefefe 90%);
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, #fefefe 90%);
    height: 50px;
    margin: 0 0 -50px;
    position: relative;
    pointer-events: none;
}

.message-top {
	height:50px;
	font-size:20px;
	color:gray;
	width:100%;
	text-align:center;
	margin-bottom:10px;
	padding-top:20px;
	font-family:cursive;
	border-bottom: 1px solid lightgray;
	vertical-align: text-bottom;
}

.shuttlebus-content div {
	padding-left:5px;
	padding-right:5px;
}

.bold {
	font-weight: bold;
}

#message {
	list-style: none;
	-webkit-padding-start: 10px;
}

.namebody {
	/*position: relative;*/
}

.name-label {
	font-weight: bold;
	color: #666666;
	margin-right: 10px;
	/*float:left;*/
}

.date-label {
	/*font-size: 75%;*/
	/*font-weight: lighter;*/
	color: #AAAAAA;
	/*position: absolute;*/
	/*top: -20px;*/
	/*visibility: hidden;*/
	/*margin-top: -20px;*/
}

/*		#message > li:hover {
	background-color: #AAAAAA;
	transition: all 300ms 0s ease;
}*/

/*		#message > li:hover .date-label {
	color: #FFFFFF;
	visibility: visible;
	transition: all 300ms 0s ease;
	padding-left: 5px;
}*/

#message > li {
	padding: 1px 0px;
}

#message > li .body-label {
	margin-right: 10px;
}

.nav li {
	text-align:center;
}

h3 {
	margin-top: 0px;
}

nav {
	background-color:#305080;
	padding: 0px;
	margin-bottom: 5px;
}

nav span, nav a {
	color: #FFF;
}

.nav-tabs {
	border-bottom: 0px;
}

.nav-tabs > li > a {
	border-radius: 0px;
}

#other {
	padding: 0px;
}

#other > div {
  padding: 20px;
}

#other .box {
	height: 400px;
	padding: 20px 50px;
  box-shadow: 1px 6px 10px gray;
}

#other h2 {
	text-align: center;
}




