
th {
	padding:0px 0px;
	font-size: 14px;
}
th, td {
	text-align: center;
}
tr:nth-child(even), th {
	background-color: #F0F0F0;
}
table {
	width:100%;
}
h1, h2, h3, h4 {
	font-weight: bold;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
	border-left: 6px #1177AA solid;
	border-bottom: 1px #AACCFF solid;
	padding-left: 10px;
	padding-bottom: 3px;
}
h3 {
	font-size: 16px;
}

.highlight {
	color: #1170AA;
	font-weight: bold;
}

.large {
	font-size: 20px;
}

.noriba2 {
	color: #DD2222;
}
